@model FoodBlogs.Models.MyModel.Post

@{
    ViewBag.Title = "Post";
}

<div class="post">
    <div>
        <h1>@Model.istrPostHeading</h1>
    </div>
    @if (Model.istrImage != null && Model.istrImage != "")
    {
        <img src=@Url.Content(Model.istrImage) />
    }
    else
    {
        <img sr="" />
    }
    @if (Model.istrFrontContent != null && Model.istrFrontContent != "")
    {
        <article>@Html.Raw(Model.istrFrontContent)</article>
    }
    else
    {
        <article></article>
    }

    <strong>Ingredients</strong>

    <ul>
        @for (int i = 0; i < Model.ilstIngredient.Count; i++)
        {
            if (Model.ilstIngredient[i].Contains("<h5>"))
            {
                <br />
                @Html.Raw(Model.ilstIngredient[i])

            }
            else
            {
                <li>@Model.ilstIngredient[i]</li>
            }
        }
    </ul>

    <article>
        <strong>Preparation</strong>
        <ul>
            @for (int i = 0; i < Model.ilstBackContent.Count; i++)
            {
                if (Model.ilstBackContent[i].Contains("<h5>"))
                {
                    <br />
                    @Html.Raw(Model.ilstBackContent[i])

                }
                else
                {
                    <li>@Model.ilstBackContent[i]</li>
                }
            }
        </ul>
    </article>
</div>

@Html.Partial("_Comments", Model.icomments)



